///// BUTTONS


.btn-nav {  // navigation buttons
    padding: 1.3rem 2.2rem;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s;
    
    &:hover {
        filter: brightness(95%);
        transform: scale(1.05) translateY(-.8px);
    }

    &:focus {
        outline: none;
    }

    &:active {
        color: $color-secondary;
        transform: scale(1) translateY(.3px);
    }

}

.btn {  // other buttons
    color: #fff;
    background-color: $color-primary;
    border: 2px solid transparent;
    border-radius: 4px;
    margin-top: 3rem;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    transition: all .2s;
     
    &:hover {
        filter: brightness(95%);
        transform: scale(1.05) translateY(-.8px);
    }
    
    &:focus {
        outline: none;
    }

    &:active {
        color: $color-primary;
        background-color: #fff;
        border: 2px solid $color-primary;
        transform: scale(1) translateY(.3px);
    }

}

///// SHAPE 
.shape {
    height: 32rem;
    width: 80rem;
    background-color: $color-primary;
    border-radius: 300px;
}

/////  PARAGRAPH

.para {
    color: $color-blue-gray;
    line-height: 1.5;
}

///// DOWNLOAD CARD

.card {
    display: flex;
    height: 35rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
    margin-right: 4rem;
    border-radius: 6px;

    &:nth-child(2) {
        margin-top: 10rem;
        position: relative;
    }

    &:nth-child(3) {
        margin-top: 20rem;
        position: relative;
    }
}