///// BUTTONS


.btn-nav {  // navigation buttons
    padding: 1.3rem 2.2rem;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s;
    
    &:hover {
        filter: brightness(95%);
        transform: scale(1.05) translateY(-.8px);
    }

    &:focus {
        outline: none;
    }

    &:active {
        color: $color-secondary;
        transform: scale(1) translateY(.3px);
    }

}

.btn {  // other buttons
    color: #fff;
    background-color: $color-primary;
    border: 2px solid transparent;
    border-radius: 4px;
    margin-top: 3rem;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    transition: all .2s;
     
    &:hover {
        filter: brightness(95%);
        transform: scale(1.05) translateY(-.8px);
    }
    
    &:focus {
        outline: none;
    }

    &:active {
        color: $color-primary;
        background-color: #fff;
        border: 2px solid $color-primary;
        transform: scale(1) translateY(.3px);
    }

}



///// SHAPE 
.shape {
    height: 32rem;
    width: 80rem;
    background-color: $color-primary;
    border-radius: 300px;
}

/////  PARAGRAPH

.para {
    color: $color-blue-gray;
    line-height: 1.5;
}