.h2 {
  font-weight: 500;
  text-align: center;
  font-size: 3.5rem;
}

h5 {
  font-weight: 400;
}

.btn-nav {
  padding: 1.3rem 2.2rem;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-nav:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-transform: scale(1.05) translateY(-0.8px);
          transform: scale(1.05) translateY(-0.8px);
}

.btn-nav:focus {
  outline: none;
}

.btn-nav:active {
  color: #fa5757;
  -webkit-transform: scale(1) translateY(0.3px);
          transform: scale(1) translateY(0.3px);
}

.btn {
  color: #fff;
  background-color: #5368df;
  border: 2px solid transparent;
  border-radius: 4px;
  margin-top: 3rem;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-transform: scale(1.05) translateY(-0.8px);
          transform: scale(1.05) translateY(-0.8px);
}

.btn:focus {
  outline: none;
}

.btn:active {
  color: #5368df;
  background-color: #fff;
  border: 2px solid #5368df;
  -webkit-transform: scale(1) translateY(0.3px);
          transform: scale(1) translateY(0.3px);
}

.shape {
  height: 32rem;
  width: 80rem;
  background-color: #5368df;
  border-radius: 300px;
}

.para {
  color: #9194a1;
  line-height: 1.5;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  margin-right: 4rem;
  border-radius: 6px;
}

.card:nth-child(2) {
  margin-top: 10rem;
  position: relative;
}

.card:nth-child(3) {
  margin-top: 20rem;
  position: relative;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

.header {
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 13rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 3rem;
  width: 18rem;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4rem;
}

.header__content--right {
  position: relative;
}

.header__content--right svg {
  position: relative;
  z-index: 1;
}

.header__content--right div {
  position: absolute;
  z-index: 0;
  right: -330px;
  bottom: 29px;
}

.header__content--left {
  width: 41%;
  margin-top: -7rem;
}

.header__content--left h1 {
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 4rem;
}

.header__content--left__btns button {
  font-weight: 500;
  padding: 1.5rem 3rem;
}

.header__content--left__btns button:last-child {
  color: black;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

.header__content--left__btns button:last-child:active {
  border: 2px solid black;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 86%;
}

.header__nav button {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
}

.header__nav--login {
  background-color: #fa5757;
  color: #fff;
}

.header__nav--login:active {
  background-color: #fff;
  border: 2px solid #fa5757;
}

.features {
  height: 100vh;
  padding-left: 7rem;
}

.features__para {
  margin: 2rem auto;
  width: 40%;
  text-align: center;
}

.features__tab {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.features__tab--left {
  position: relative;
}

.features__tab--left img {
  position: relative;
  z-index: 1;
}

.features__tab--left div {
  position: absolute;
  z-index: 0;
  left: -345px;
  bottom: -55px;
}

.features__tab--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 36%;
  margin-right: 10rem;
}

.features__tab--right h1 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.features__tab--right p {
  text-align: left;
}

.features__tab--right button {
  padding: 1rem 2rem;
}

.features__nav {
  text-align: center;
}

.features__nav--btns .tabbed-btns {
  border: none;
  padding: 1.5rem 3rem;
  color: #d3d3d3;
  font-size: 2rem;
  background-color: #fff;
  cursor: pointer;
}

.features__nav--btns .tabbed-btns:focus {
  color: #000000;
  outline: none;
}

.features__nav--btns {
  border-bottom: 1px solid #9194a1;
  display: inline-block;
}

.border__for-btn {
  border-bottom: 2px solid #fa5757;
}

.download {
  height: 100vh;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.download__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  margin-top: -10rem;
}

.download__box h3 {
  font-weight: 400;
}

.download__box p {
  font-size: 1.2rem;
  color: #9194a1;
}

.download__box button {
  margin-top: -1rem;
  padding: 1rem 2rem;
}

.download__para {
  text-align: center;
  margin: 2rem 38rem;
}

.faq {
  width: 100%;
}

.faq__para {
  width: 37%;
  margin: 2rem auto;
  text-align: center;
}

.faq__ques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30%;
  width: 40%;
  padding: 2rem 0;
  border-bottom: 2px solid #eee;
  cursor: pointer;
}

.faq__ques-q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.faq__ques-q:hover {
  color: #fa5757;
}

.faq__ques--para {
  display: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.6rem;
  margin: 2rem auto;
}

.faq__ques--open {
  display: inline;
  visibility: visible;
  opacity: 1;
}

.faq-arrow {
  height: 2rem;
  width: 2rem;
}

.faq__arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  fill: #fa5757;
}

.faq__btn {
  padding: 1.5rem 2rem;
  margin: 4rem auto;
  display: block;
}

.contact {
  height: 40vh;
  background-color: #5368df;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__h3 {
  margin-top: 4rem;
  font-weight: 400;
}

.contact__h2 {
  font-weight: 500;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin: 4rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form--field {
  width: 60%;
  border-radius: 4px;
  padding: 1rem 2rem;
  border: none;
}

.contact__form--btn {
  background-color: #fa5757;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin-top: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #252b46;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.footer__nav a {
  text-decoration: none;
  color: #fff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 10%;
}
/*# sourceMappingURL=main.css.map */